<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9963d8">  <td>20/05/19 20:19:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.alterBox()[pri:9, instance:Package1.TestandQuiz@cd2dae5]">alterBox</td> 
  <td>main@662822946</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/19 20:19:06</td>   <td>-50339</td> <td>&nbsp;</td><td title="&gt;&gt;TestandQuiz.browser()[pri:0, instance:Package1.TestandQuiz@cd2dae5]">&gt;&gt;browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662822946</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/19 20:19:44</td>   <td>-11944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.button()[pri:3, instance:Package1.TestandQuiz@cd2dae5]">button</td> 
  <td>main@662822946</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/19 20:19:49</td>   <td>-7466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.checkBox1()[pri:5, instance:Package1.TestandQuiz@cd2dae5]">checkBox1</td> 
  <td>main@662822946</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/19 20:19:49</td>   <td>-7235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.checkBox2()[pri:6, instance:Package1.TestandQuiz@cd2dae5]">checkBox2</td> 
  <td>main@662822946</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/19 20:20:04</td>   <td>8270</td> <td>&nbsp;</td><td title="&lt;&lt;TestandQuiz.closeBrowser()[pri:0, instance:Package1.TestandQuiz@cd2dae5]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662822946</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/19 20:20:01</td>   <td>5227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.confirmBox1()[pri:10, instance:Package1.TestandQuiz@cd2dae5]">confirmBox1</td> 
  <td>main@662822946</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/19 20:19:50</td>   <td>-6461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.doubleClick()[pri:8, instance:Package1.TestandQuiz@cd2dae5]">doubleClick</td> 
  <td>main@662822946</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/19 20:19:14</td>   <td>-42382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.dragdrop()[pri:0, instance:Package1.TestandQuiz@cd2dae5]">dragdrop</td> 
  <td>main@662822946</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/19 20:19:49</td>   <td>-6984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.dropdown()[pri:7, instance:Package1.TestandQuiz@cd2dae5]">dropdown</td> 
  <td>main@662822946</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/19 20:19:37</td>   <td>-19261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.link()[pri:1, instance:Package1.TestandQuiz@cd2dae5]">link</td> 
  <td>main@662822946</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/19 20:19:48</td>   <td>-7700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.radioButton()[pri:4, instance:Package1.TestandQuiz@cd2dae5]">radioButton</td> 
  <td>main@662822946</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/19 20:19:41</td>   <td>-15005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.textbox()[pri:2, instance:Package1.TestandQuiz@cd2dae5]">textbox</td> 
  <td>main@662822946</td>   <td></td> </tr>
</table>
