<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite12</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8067a5">  <td>20/05/16 00:41:02</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;MercuryTest1.launchBrowser()[pri:0, instance:MercuryTest1@7494e528]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@399931359</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/05/16 00:41:07</td>   <td>5673</td> <td>&nbsp;</td><td title="&gt;&gt;MercuryTest2.launchBrowser()[pri:0, instance:MercuryTest2@30b8a058]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="fffcd7">  <td>20/05/16 00:41:07</td>   <td>5675</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest4.c()[pri:0, instance:NewTest4@68bbe345]">&gt;&gt;c</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/05/16 00:41:07</td>   <td>5677</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest7.beforeTest()[pri:0, instance:NewTest7@4bbfb90a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/16 00:41:07</td>   <td>5678</td> <td>&nbsp;</td><td title="&gt;&gt;TestMercury.launchBrowser()[pri:0, instance:TestMercury@a7e666]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/16 00:41:07</td>   <td>5703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMercury.verifyHomepageTitle()[pri:0, instance:TestMercury@a7e666]">verifyHomepageTitle</td> 
  <td>main@399931359</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>20/05/16 00:41:07</td>   <td>5709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest5.a_test()[pri:0, instance:NewTest5@7c29daf3]">a_test</td> 
  <td>main@399931359</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>20/05/16 00:41:07</td>   <td>5713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest5.b_test()[pri:0, instance:NewTest5@7c29daf3]">b_test</td> 
  <td>main@399931359</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>20/05/16 00:41:07</td>   <td>5716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest5.c_test()[pri:0, instance:NewTest5@7c29daf3]">c_test</td> 
  <td>main@399931359</td>   <td></td> </tr>
<tr bgcolor="fffcd7">  <td>20/05/16 00:41:07</td>   <td>5719</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest4.a()[pri:0, instance:NewTest4@68bbe345]">&gt;&gt;a</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="fffcd7">  <td>20/05/16 00:41:07</td>   <td>5721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest4.f()[pri:0, instance:NewTest4@68bbe345]">f</td> 
  <td>main@399931359</td>   <td></td> </tr>
<tr bgcolor="fffcd7">  <td>20/05/16 00:41:07</td>   <td>5723</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest4.b()[pri:0, instance:NewTest4@68bbe345]">&lt;&lt;b</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/05/16 00:41:07</td>   <td>5724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MercuryTest2.verifyHomepageTitle()[pri:0, instance:MercuryTest2@30b8a058]">verifyHomepageTitle</td> 
  <td>main@399931359</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>20/05/16 00:41:07</td>   <td>5728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MercuryTest1.verifyHomepageTitle()[pri:0, instance:MercuryTest1@7494e528]">&gt;&gt;verifyHomepageTitle</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>20/05/16 00:41:07</td>   <td>5729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MercuryTest1.register()[pri:0, instance:MercuryTest1@7494e528]">register</td> 
  <td>main@399931359</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>20/05/16 00:41:07</td>   <td>5732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MercuryTest1.goBackToHomepage()[pri:0, instance:MercuryTest1@7494e528]">&lt;&lt;goBackToHomepage</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>20/05/16 00:41:07</td>   <td>5733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MercuryTest1.verifyHomepageTitle()[pri:0, instance:MercuryTest1@7494e528]">&gt;&gt;verifyHomepageTitle</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>20/05/16 00:41:07</td>   <td>5733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MercuryTest1.support()[pri:1, instance:MercuryTest1@7494e528]">support</td> 
  <td>main@399931359</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>20/05/16 00:41:07</td>   <td>5737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MercuryTest1.goBackToHomepage()[pri:0, instance:MercuryTest1@7494e528]">&lt;&lt;goBackToHomepage</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>20/05/16 00:41:07</td>   <td>5738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest6.atest()[pri:0, instance:NewTest6@9660f4e]">atest</td> 
  <td>main@399931359</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>20/05/16 00:41:08</td>   <td>5741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest6.b_test()[pri:0, instance:NewTest6@9660f4e]">b_test</td> 
  <td>main@399931359</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>20/05/16 00:41:08</td>   <td>5743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest6.f_test()[pri:0, instance:NewTest6@9660f4e]">f_test</td> 
  <td>main@399931359</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>20/05/16 00:41:08</td>   <td>5746</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest6.ztest()[pri:0, instance:NewTest6@9660f4e]">ztest</td> 
  <td>main@399931359</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>20/05/16 00:41:08</td>   <td>5748</td> <td>&nbsp;</td><td title="&lt;&lt;MercuryTest1.terminateBrowser()[pri:0, instance:MercuryTest1@7494e528]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/05/16 00:41:08</td>   <td>5748</td> <td>&nbsp;</td><td title="&lt;&lt;MercuryTest2.terminateBrowser()[pri:0, instance:MercuryTest2@30b8a058]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="fffcd7">  <td>20/05/16 00:41:08</td>   <td>5749</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest4.d()[pri:0, instance:NewTest4@68bbe345]">&lt;&lt;d</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/05/16 00:41:08</td>   <td>5750</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest7.afterTest()[pri:0, instance:NewTest7@4bbfb90a]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/16 00:41:08</td>   <td>5751</td> <td>&nbsp;</td><td title="&lt;&lt;TestMercury.terminateBrowser()[pri:0, instance:TestMercury@a7e666]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
