<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Package1.PomFileNew</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Package1.TestandQuiz</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>radioButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>doubleClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkBox2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkBox1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>link</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>alterBox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>dropdown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>confirmBox</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
