<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9963d8">  <td>20/05/16 00:16:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.alterBox()[pri:8, instance:Package1.TestandQuiz@3b084709]">alterBox</td> 
  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/16 00:15:47</td>   <td>-28298</td> <td>&nbsp;</td><td title="&gt;&gt;TestandQuiz.browser()[pri:0, instance:Package1.TestandQuiz@3b084709]">&gt;&gt;browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/16 00:15:59</td>   <td>-16711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.button()[pri:2, instance:Package1.TestandQuiz@3b084709]">button</td> 
  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/16 00:16:05</td>   <td>-10235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.checkBox1()[pri:4, instance:Package1.TestandQuiz@3b084709]">checkBox1</td> 
  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/16 00:16:05</td>   <td>-10001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.checkBox2()[pri:5, instance:Package1.TestandQuiz@3b084709]">checkBox2</td> 
  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/16 00:16:28</td>   <td>12580</td> <td>&nbsp;</td><td title="&lt;&lt;TestandQuiz.closeBrowser()[pri:0, instance:Package1.TestandQuiz@3b084709]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/16 00:16:22</td>   <td>6253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.confirmBox()[pri:9, instance:Package1.TestandQuiz@3b084709]">confirmBox</td> 
  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/16 00:16:06</td>   <td>-9454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.doubleClick()[pri:7, instance:Package1.TestandQuiz@3b084709]">doubleClick</td> 
  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/16 00:16:06</td>   <td>-9753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.dropdown()[pri:6, instance:Package1.TestandQuiz@3b084709]">dropdown</td> 
  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>20/05/16 00:16:28</td>   <td>12577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PomFileNew.f()[pri:0, instance:Package1.PomFileNew@3224f60b]">f</td> 
  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/16 00:15:55</td>   <td>-20410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.link()[pri:0, instance:Package1.TestandQuiz@3b084709]">link</td> 
  <td>main@2048834776</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/05/16 00:16:05</td>   <td>-10475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestandQuiz.radioButton()[pri:3, instance:Package1.TestandQuiz@3b084709]">radioButton</td> 
  <td>main@2048834776</td>   <td></td> </tr>
</table>
